*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  border: none;
}

body{
  max-height: none;
  overflow: hidden;
}

h3{
  margin: 15px 0;
  font-size: 32px;
}

img{
  max-width: 100%;
}